*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
main{
	width: 960px;
	margin: 50px auto;
}

.contents-box{
	width: 300px;
	float: left;
	margin-right: 30px;
	padding: 10px;
	border: 1px solid gray;
	position: relative;
}
.contents-box:last-child{
	margin-right: 0;
}
.contents-image1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
}
.contents-image2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
}
.contents-image3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
}

.step{
	background-color: orange;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px;
}

@media screen and (max-width:425px){
	main{
		width: 100%;
	}
	
	.contents-box{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
		float: none;
	}

}